class <%= klass %>
  include <%= client_class %>
  setup_service :hydra => <%= options[:hydra] %>, :host => <%= options[:host] %>, :version => "<%= version %>", :async_client => <%= options[:async_client] %>
end